$LayoutMenuItemBackDefault: white;
$LayoutMenuItemBackActive: rgb(196, 230, 255);
$LayoutMenuItemColorDefault: black;
$LayoutMenuItemColorActive: rgba(17, 83, 173, 1);

$LayoutMenuItemActiveAfter: rgba(17, 83, 173, 1);

$LayoutMenuSubMenuBackDefault: white;
$LayoutMenuSubMenuBackActive: rgba(215, 233, 255, 1);
$LayoutMenuSubMenuColorDefault: black;
$LayoutMenuSubMenuColorActive: black;

$LayoutMenuSubMenuActiveAfter: rgba(215, 233, 255, 1);

$LayoutHeaderHeight: 60px;
$LayoutAsideBack: $LayoutMenuItemBackDefault;